[2014-12-16 22:46] juberti opened #2 "Problems with authorization for the output-only case"
from Philippe Joseph Cohen:

The issue in the current proposal is that EnumerateDevice returns opaque information before user authorisation as current drafted in the EnumerateDevices specs. So with this opaque information and  without the the more meaningful properties (currently the ‘label’ one), apps won’t be in a position to decide if to prompt the user for authorisation to use a specific devic

[2014-12-16 23:19] cwilso opened #3 "Web Audio design is unlikely"
The most likely way that Web Audio will be piped to non-default devices is via a constraints-style object on construction of the AudioContext object-

var audioContext = new AudioContext( { sinkId: requestedSinkId } );

It's highly unlikely we would support output to multiple devices from a single AudioContext simultaneously as a direct case; the resampling and jitter work necessary is kinda goofy

[2014-12-17 00:45] #3 closed, assigned to nobody

[2014-12-17 18:52] ShijunS opened #5 "Introduce audioDeviceType as an extension to HTMLMediaElement"
As we discussed at TPAC, it'd be beneficial to introduce  virtual device types so the audio stream can be routed to the default audio end point that maps to the device type.  This will give flexibility to apps to choose the audio device type and keep seamless device switching when audio end points (e.g. headphones) are plugged-in or unplugged during run time.

#### a starting point
[code]

#### pr

[2015-01-05 19:10] ShijunS commented on #5
It'd be fine to use the pseudoIDs.

Re "console", it typically meant for system sound, notification, game sound, ringtone, voice command, etc..  This can be an indication to the media stack to use a code path for short "startup" latency.

[2015-01-25 15:22] philjoseph commented on #2
I wonder if we have reached a decision on this issue. To strengthen my suggestion about using the terminology **sound output devices** see MacOSX, see
![image](https://cloud.githubusercontent.com/assets/4303547/5891915/d0bb4868-a4b5-11e4-89c9-fedd138be63b.png)
Windows prefer sound playback but I am not convinced it's better.

[2015-02-06 00:33] #2 closed

[2015-02-06 00:33] #5 closed

[2015-02-09 17:28] chrispike-bbc opened #12 "Headphone connected flag"
For certain media player applications, it would be useful to know when headphones are connected (provided the operating system has this information) so that headphone-specific audio can be delivered (e.g. virtual surround). For example, Android has the ACTION_HEADSET_PLUG in the AudioManager class. Could a similar flag be made available within the medacapture-output API? It must be clear that this

[2015-04-17 12:22] foolip opened #15 "partial interface HTMLMediaElements should not include ": EventTarget""
http://w3c.github.io/mediacapture-output/#htmlmediaelement-extensions

[2015-04-17 12:27] foolip opened #16 "HTMLMediaElement.setSinkId() when media element is paused doesn't change output device?"
http://w3c.github.io/mediacapture-output/#widl-HTMLMediaElement-setSinkId-Promise-void--DOMString-sinkId

The "stop playing this object's audio out of the device represented by the sinkId attribute" and "start playing this object's audio out of the device represented by sinkId" steps are predicated on the media element being playing.

A literal reading of this would be that calling `setSinkId()` w

[2015-05-26 19:00] martinthomson commented on #16
I think that this is fixed in the current version.  @foolip, @juberti, can this be closed?

[2015-05-26 19:01] martinthomson opened #17 "Use deviceId instead of sinkId"
Using `deviceId` in all the different places would make this consistent with the `getUserMedia` spec and make it more obvious that these are the same thing that we're talking about.

[2015-05-26 19:01] martinthomson opened #18 "Reserved words for device identifiers don't need 'id-'"
...prefix.  I believe that the intent of this prefix is to carve out some of the device identifier space for use in this specification.  That's unnecessary, though it might make sense to ensure that you only use reserved values that are shorter than the minimum size of an identifier.

As specified, this doesn't avoid the potential for collision. Assuming that an implementation is assigning identif

[2015-05-26 19:20] foolip commented on #16
No, it doesn't look like this has been fixed, it still says "If the media element's paused attribute is false, stop playing this object's audio out of the device represented by the sinkId attribute."

[2015-05-26 22:49] juberti commented on #16
I don't think these steps can be unconditional. Clearly if the media is not playing out, you can't make it stop playing out.

Perhaps we just need some text that says "set the underlying output device to X" that can be referenced regardless of whether paused is true or not.

[2015-05-26 22:50] #15 closed

[2015-05-27 08:05] foolip commented on #16
Yeah, at some point there must be some spec language involving "the device represented by sinkId" that is run either when paused or when playback continues.

Notably, nothing in the WIP implementation at https://codereview.chromium.org/1128933008/ depends on the paused state of the media element.

[2015-06-18 14:28] alvestrand opened #19 "Reserved values for ID don't seem like the right solution"
After discussion on the webrtc list, it seems that the conclusion is that reserved values are a bad idea.
 (see #mediacapture-main:173)

Can we find a different solution?

[2015-06-18 14:28] alvestrand commented on #19
https://github.com/w3c/mediacapture-main/issues/173

[2015-10-15 11:44] alvestrand opened #20 "Checking validity and access of SinkId should be asynchronous"
In the algorithm of section 2.2 for setSinkID, the following steps are in the synchronous section:

2. If the sinkId does not match any audio output device identified by enumerateDevices(), return a promise rejected with a new DOMException whose name is NotFoundError.

3. If application is not authorized to play audio through the device identified by the given sinkId, return a promise rejected wit

[2015-10-27 17:25] RByers opened #21 "Add issues link to the spec"
Most W3C specs have a 'participation' section at the top that includes things like the GitHub repo and 'file a bug link' (eg. see [UI Events](http://www.w3.org/TR/DOM-Level-3-Events/)).  Please consider adding such a section to this spec.

[2015-10-29 14:38] foolip opened #22 "The sinkId argument and attribute are strings, not objects"
https://w3c.github.io/mediacapture-output/#widl-HTMLMediaElement-setSinkId-Promise-void--DOMString-sinkId

This should say something on the form "If x is equal to y".

[2015-10-29 14:41] foolip opened #23 "Delay the SecurityError to the async part of setSinkId()"
https://w3c.github.io/mediacapture-output/#widl-HTMLMediaElement-setSinkId-Promise-void--DOMString-sinkId

Unless it is guaranteed that this information will always be available synchronously in the same process, doing this in the async part would be a good idea.

[2015-10-29 14:45] foolip opened #24 "Specify with what the setSinkId() promise should be rejected"
https://w3c.github.io/mediacapture-output/#widl-HTMLMediaElement-setSinkId-Promise-void--DOMString-sinkId

In step 5:
 1. Associate the audio output device represented by sinkId with this object for playout.
 2. If the preceding step failed, return a rejected promise.

Here it needs to be specified with what kind of exception the promise is rejected.

[2015-10-29 14:46] foolip commented on #23
Oops, this is a dupe of https://github.com/w3c/mediacapture-output/issues/20

[2015-10-29 14:46] #23 closed

[2015-10-29 14:49] foolip commented on #17
There is an [Intent to Ship](https://groups.google.com/a/chromium.org/d/msg/blink-dev/ELz4SxMwa0U/CWsWMGjfCwAJ) this API on blink-dev. This kind of naming issue really must be resolved before anyone ships.

[2015-10-29 14:53] foolip commented on #24
In the Chromium implementation, it looks like `SecurityError` and `AbortError` are both used in situations which could be fairly described as a failure of the "Associate the audio output device represented by sinkId with this object for playout" step.

[2015-11-25 22:22] #21 closed

[2015-12-15 16:49] alvestrand commented on #17
Not sure it makes sense to harmonize.
We can work from the theory that a sink ID is a device ID that identifies an output device. Using a camera's or microphone's ID in these places would not work.

In the particular case of media elements, it's got "src" and "srcObject" - I think that having a "sink" attribute is kind of natural. Calling the attribute "deviceid" would be confusing.

[2015-12-15 19:02] foolip commented on #17
That's a very relevant distinction. Looks like @juberti has closed all issues on this repo so far, can you close this too if there's no implementor interest in changing this?

[2015-12-15 22:09] juberti commented on #17
Closing per discussion.

[2015-12-15 22:09] #17 closed

[2015-12-15 22:11] juberti commented on #24
Resolved by #25

[2015-12-15 22:11] #24 closed

[2015-12-15 22:12] juberti commented on #24
er, #26

[2015-12-16 15:35] alvestrand commented on #18
When I looked at this last, I thought the spec should reserve something - for instance, forbid the use of "id-" at the beginning of the string. Then again, I don't like the use of predefined values.

[2015-12-16 15:38] alvestrand commented on #12
I'm not certain this makes sense - there are many ways this is wired up - for instance, USB headsets don't exist to the system until they're plugged in; some systems have physical or firmware-level switches on the headset jack that route sound to a speaker if nothing's plugged in - and the OS can't detect that; some systems (like Android quoted above) have more close software control.

For this it

[2015-12-16 15:40] alvestrand opened #30 "Specify action of id-communications when there is no communications device"
Copied from TAG review https://github.com/w3ctag/spec-reviews/issues/91

If there is no comms device, behavior should be predictable. I suggest that sound should go to the default device (same as "" or "id-multimedia").

[2016-08-23 12:13] alvestrand opened #37 "CD publication of specification"
At the Lisbon TPAC meeting, we will raise the question of whether this spec is ready for publication as CD. Please add to this issue references to the issues that you think have to be resolved before CD publication.

Once all these are resolved, and we think review is adequate, we will ask for CD publication.

Harald, for the chairs.

[2016-08-23 15:15] ShijunS commented on #30
Agree with @Alvestrand.  That will also be consistent with user experiences in Windows.

[2016-09-21 16:47] guidou commented on #37
I think we should resolve the issues related to the predefined IDs.
https://github.com/w3c/mediacapture-output/issues/30
https://github.com/w3c/mediacapture-output/issues/19
https://github.com/w3c/mediacapture-output/issues/18

One way is to deal with that is to just remove Section 4 from the spec.

[2016-09-22 14:03] vivienlacourba commented on #19
June 2015 list discussion: https://lists.w3.org/Archives/Public/public-media-capture/2015Jun/0015.html

[2016-09-22 14:04] alvestrand commented on #19
@martinthomson and @jan-ivar were the participants on the Mediacapture-main bug. there are other ways to do this (including having a getDefaultDevice("comms") function somewhere).
Can we get more discussion here?

[2016-09-22 14:05] alvestrand commented on #30
Seems obvious at TPAC. Please make it so.

[2016-09-22 14:06] alvestrand commented on #19
Would like to assign this to @guidou, but I don't seem to have the rights to do so.

[2016-09-23 04:48] jan-ivar commented on #19
After pondering alternatives like
* `setSinkId({ category: "comms"})`,
* `setSinkId(getCategoryDeviceId("comms"))`,
* or even `setSinkId("id-comms")`

I think I've come around to wanting to see if we couldn't support just `setSinkId("comms")`. Could we limit reserved ids within the [a-z] range, and require generated device-ids to contain at least one character outside of [a-z] range?

[2016-09-23 07:14] vivienlacourba commented on #19
@alvestrand yesterday I gave you the proper rights to assign issues on this repo. I also sent an invite to @guidou to join the editors group for this repo. Once he confirms the invite you'll be able to assign him this issue.

[2016-09-27 11:02] alvestrand opened #38 "WG CR review for mediacapture-output"
This issue serves to track internal WG review (in the WGs making up the mediacapture TF) of the medacapture-output document for CR publication.
If you have reviewed the document, please add a “thumbs up” reaction to the issue.
If you find issues that you think need addressing before CR publication, please file the issue in Github and mention it in the comments.

The review lasts until Thursday, Oc

[2016-09-27 11:06] alvestrand commented on #37
Discussed at TPAC. Minutes: https://www.w3.org/2016/09/22-webrtc-minutes#item12

Decision not clear; I think we decided to live with predefined IDs, given that they have already shipped.

[2016-10-04 14:59] fluffy commented on #38
FWIW ...  I read it and did not see any blocking issues and this is ready for broader review. I think the hand wave "consent is implementation dependent" is sort of crap and we should do better but I don't expect any changes to that so don't plan to spend time on it.

[2016-10-10 07:06] stefhak commented on #38
I also think it is ready for broader review (though we should probably get rid of the ```This is work in progress``` disclaimer in the section about WebAudio API extensions).

[2016-10-19 17:19] domenic opened #39 "sinkId definition appears broken"
It just says

[2016-10-19 17:21] domenic opened #40 ""If sinkId and the sinkId attribute are the same object, return a resolved promise.""
A couple minor issues:

- Neither sinkId nor the sinkId attribute are objects. sinkId is a string; the sinkId attribute is an attribute, but the sinkId's attribute's value is a string.
- Resolved with what? "a promise resolved with undefined" is probably what you want here.

[2016-10-19 17:21] domenic opened #41 ""Run the following steps asynchronously:""
"asynchronously" is not defined. It should be [in parallel](https://html.spec.whatwg.org/multipage/infrastructure.html#in-parallel).

[2016-10-19 17:22] domenic opened #42 "setSinkId does not abort substeps"
Per the algorithm given, "If sinkId does not match any audio output device identified by enumerateDevices()," then the promise will be rejected, but then the steps will proceed. You should add "and abort these substeps" to all such cases where you don't want to proceed.

[2016-10-19 17:24] domenic opened #43 ""Set the sinkId attribute to sinkId.""
sinkId does not have a setter, so this is not possible.

Probably you mean to store the current sinkId in some "internal slot" or "associated sink id", and then set that. Then the getter is defined as returning the value of this HTMLMediaElement's associated sink id.

[2016-10-19 17:24] domenic commented on #40
The "resolved with what" problem also occurs at the end of the setSinkId algorithm.

[2016-10-19 17:26] domenic opened #44 "Avoid Interface.attributeName notation"
E.g. in the sentences

This is confusing since sinkId is an instance property, not a static property. E.g. if you type `HTMLMediaElement.sinkId` in your browser console, the result will be undefined.

Instead say something like "the HTMLMediaElement's sinkId".

[2016-10-19 17:27] domenic opened #45 ""For each sinkId whose value is equal to sinkId:""
What collection exactly is being iterated over here? There is no such thing as "For each sinkId".

My best guess is that this is attempting to iterate over all HTMLMediaElements. But which ones? The ones in a document tree? The ones connected to a document? Which documents---all of the documents in the browser? Active documents only?

[2016-10-19 17:29] domenic opened #46 "Web Audio API Extensions monkeypatch"
While this is good stuff, it's not appropriate for a final spec. See https://annevankesteren.nl/2014/02/monkey-patch. It's important to track getting these changes properly upstreamed to the Web Audio specification before this spec proceeds much further.

[2016-10-19 17:30] domenic opened #47 "Why is MediaDeviceId an enum?"
No IDL in this spec uses it. Will IDL in other specs?

It seems more likely this should just be a list of strings described in a table, without trying to bring Web IDL into this.

[2016-10-20 15:05] padenot opened #48 "Don't restrict this spec to HTMLMediaElement in the introduction"
should be:

[2016-10-20 15:37] padenot opened #49 "Behaviour when the system default audio output device changes"
What happens when the following happens:
1. We're playing an `HTMLMediaElement` through the default device, with a empty `sinkId`
1. The default device changes (because the user changes it in the control panel of the operating system, or a new device has been plugged in, and the system sets it as the default).

Is the `HTMLMediaElement` silently re-routed to the new default device? Does it stop pl

[2016-10-20 16:02] padenot opened #50 "Sample rate can change when an `AudioContext` is running"
Changing the sample-rate of a device while it is in use is something that can be done on all major desktop operating systems. This sentence implies that this is not the case.

I agree that it's hard to change the sample-rate of an `AudioContext`, but it's not hard to change it from a device to another, and should be supported.

Of course, in practice and if necessary, UAs will insert a resampler s

[2016-10-26 11:04] #12 closed

[2016-10-26 17:02] joeberkovitz opened #51 "Predefined IDs conflict with future direction of device selection"
I am concerned that the use of predefined IDs with somewhat vague meanings (see https://cdn.rawgit.com/w3c/mediacapture-output/master/index.html#mediadeviceid-enum) sets up a recipe for confusion that will not be easy to get rid of in the future. While these appear to map to some existing MS Windows concepts, that does not provide applications with the ability to offer a meaningful choice of outpu

[2016-10-27 10:13] guidou commented on #19
I think we should get rid of the "Predefined Device IDs" section.
As written, these special IDs are a feature specific to setSinkId.
I think this can create a number of implementation problems because the rest of the device-related specs are not aware of these special IDs. For example, from the text in the spec one can infer that these IDs should not be listed by enumerateDevices.
From an implemen

[2016-10-27 10:17] #20 closed

[2016-10-27 10:23] alvestrand commented on #51
This seems like an argument that is interesting in the context of #19 . Can we merge those issues?

[2016-10-27 12:35] #16 closed

[2016-10-27 12:35] #22 closed

[2016-10-27 12:36] #45 closed

[2016-10-27 12:36] #40 closed

[2016-10-27 12:36] #41 closed

[2016-10-27 12:36] #42 closed

[2016-10-27 12:36] #43 closed

[2016-10-27 12:36] #44 closed

[2016-10-27 14:31] #39 closed

[2016-10-27 14:37] guidou commented on #49
I think your concern is valid. However, it refers to a situation that already exists outside this spec (playing audio on the default device). When the sinkId attribute is empty, the UA should have the same behavior as if this spec didn't exist.
Thus, specifying what happens when the default device changes is outside the scope of this spec.

[2016-10-27 14:39] #49 closed

[2016-10-27 14:56] guidou commented on #50
No, it doesn't. The sentince in the spec implies that the implementation of AudioContext would be more complex.

If it's hard to change the sample rate of an AudioContext, then it is at least as hard to switch the AudioContext from a device to another with a different sample rate. Switching to another device with the same sample rate would be simpler.

During the process of defining this spec we c

[2016-10-27 14:58] #50 closed

[2016-10-27 15:03] domenic commented on #39
Still broken: https://w3c.github.io/mediacapture-output/#attributes

[2016-10-27 15:07] guidou commented on #46
@cwilso, can we move the Web Audio extensions currently in this spec to the Web Audio spec?

[2016-10-27 15:34] padenot commented on #50
This is wrong and uninformed. It's very simple to do and has been implemented in Gecko, Blink, and I believe Edge for as long as there has been Web Audio API shipped on those implementations (with various degrees of success, Edge and Gecko get it right, Blink sometimes stops rendering audio). In fact, it's a necessary behaviour to implement the auto-device switching that authors expect (see #49).

[2016-10-27 15:38] padenot commented on #49
This is the first spec that talks about output audio devices, and patches existing specs, with existing non-specificed behaviour.

Not speccing the current behaviour (automatic device switching, following the system default output device) and extending it is not something that is going to end up with the same behaviour accross User Agents.

[2016-10-28 09:14] #18 closed

[2016-10-28 09:14] #19 closed

[2016-10-28 09:14] #30 closed

[2016-10-28 09:15] #47 closed

[2016-10-28 09:15] #51 closed

[2016-10-28 09:16] #37 closed

[2016-10-28 18:24] domenic opened #55 "sinkId definition is still broken"
https://github.com/w3c/mediacapture-output/issues/39 was closed but was not fixed correctly. See https://w3c.github.io/mediacapture-output/#attributes

[2016-10-28 18:25] domenic commented on #47
This seems to be still broken: https://w3c.github.io/mediacapture-output/#mediadeviceid-enum

[2016-10-31 08:37] dbaron opened #56 "some text got garbled in section 2.1 Attributes"
[Section 2.1, Attributes](https://w3c.github.io/mediacapture-output/#attributes) currently says:

The second line looks like it somehow got garbled.  It's just two links to properties/functions and a reference strung together with no spacing or prose.

[2016-10-31 17:10] guidou commented on #55
Sorry. Forgot to publish the changes.

[2016-10-31 17:10] #55 closed

[2016-10-31 17:11] #56 closed

[2016-11-02 09:07] dontcallmedom opened #57 "Mismatch between sinkId and deviceId names"
From [TAG review](https://github.com/w3ctag/spec-reviews/issues/132#issuecomment-256494694):

[2016-11-02 09:07] dontcallmedom opened #58 "Handling connect/disconnect for AudioContext"
From [TAG review](https://github.com/w3ctag/spec-reviews/issues/132#issuecomment-256494694):

[2016-11-02 09:08] dontcallmedom opened #59 "Default sinkId value"
From [TAG review](https://github.com/w3ctag/spec-reviews/issues/132#issuecomment-256494694):

[2016-11-02 09:09] dontcallmedom opened #60 "Default value alias"
From [TAG review](https://github.com/w3ctag/spec-reviews/issues/132#issuecomment-256494694):

(probably over taken by events)

[2016-11-02 09:09] dontcallmedom opened #61 "Add explainer document"
From [TAG review](https://github.com/w3ctag/spec-reviews/issues/132#issuecomment-257475407):

[2016-11-02 11:07] guidou commented on #60
This issue was obsoleted by the removal of predefined IDs from this spec.

[2016-11-02 11:07] #60 closed

[2016-11-02 11:12] guidou commented on #57
This was discussed in issue #17 and it was decided to keep sinkId.
The rationale is that a sink ID is a device ID that refers to an output device, so not all device IDs are usable as sink IDs.

[2016-11-02 11:12] #57 closed

[2016-11-02 13:27] #59 closed

[2016-11-05 12:12] randallb opened #63 "Controlling 3rd party iframe audio output on a page?"
(forgive me, this is my first time attempting to contribute)

We've built an application to allow for video streaming, and we essentially render the video using a browser, then output the framebuffer to another encoding process and send it along to an RTMP destination. (In our case, it's usually FB Live.)

We'd like to enable our users to easily embed other media in their productions.

Today, we c

[2016-12-12 16:21] dontcallmedom commented on #46
paging @padenot as an active editor of the Web Audio spec

[2016-12-12 16:21] #38 closed

[2016-12-12 19:12] padenot commented on #46
Yes, I agree this is what should be done, but this is blocked by #49 and #50, which have been closed wrongly and should be addressed.

The current text is too limiting and imprecise. I cannot really be implemented and produce compatible implementations. This is not a theoretical concern, Chrome and Firefox already are incompatible on this (from manual testing).

[2016-12-13 09:17] guidou commented on #46
The text wrt #50 is the result of a collaboration with Web Audio spec owners. Older versions of the spec proposed 4 alternative strategies, 3 of which were removed explicitly at the request of Web Audio authors in order to avoid supporting device switching.
If now there is disagreement among Web Audio authors about this, I'll be happy to remove all reference to Web Audio and let Web Audio authors

[2016-12-15 15:59] #58 closed

[2016-12-15 15:59] #48 closed

[2016-12-15 16:00] #46 closed

[2017-01-31 12:29] dontcallmedom commented on #61
@guidou is that something you're planning to develop (or already exists somewhere else)?

[2017-01-31 12:30] guidou commented on #61
Yes, I'm planning to do this.
Can you point to a similar document for another spec to use as a guide?

[2017-01-31 12:33] dontcallmedom commented on #61
e.g. https://github.com/w3c/ServiceWorker/blob/master/explainer.md

[2017-03-09 16:30] alvestrand commented on #63
Sorry, lost track of this one. Will attempt to look at the issue soon.

[2017-03-23 21:59] alvestrand commented on #63
Having thought about this some more...
the only not-completely-bogus thing I've been able to think of is that we could add an attribute to the Iframe object (https://html.spec.whatwg.org/#the-iframe-element) called "defaultAudioOutput", which would be the place where default audio output is sent.

The advantage of an attribute over a setter is that you can read it, and that it should be easy to sa

[2017-03-28 04:28] domenic commented on #63
By attribute, do you mean IDL attribute, or content attribute?

Note that contentWindow and contentDocument are just the window/document of the iframe, so if you placed things there it would be placing them on Window/Document classes universally, not just ones for iframes.

As for monkey-patching HTML, it's mostly reasonable to do this using partial interfaces without it being problematic. The onl

[2017-03-28 14:53] alvestrand commented on #63
I've not yet figured out what the difference between IDL attributes and content attributes are; I think I want to do something like "navigator.media.enumerateDevices().then(list => <sub-iframe>.defaultAudioOutput = <pick the right device from list>.id)

Not sure it makes sense to change the default after the iframe is initiated, which argues for making it part of what you hand to the iframe when c

[2017-03-28 15:13] domenic commented on #63
Content attributes are `<iframe something="...">` in the HTML. IDL attributes are `iframeEl.something = "..."` in JavaScript. You can have both by saying that the IDL attribute reflects the content attribute. (Almost all content attributes are reflected as IDL attributes, in fact. But not necessarily vice-versa.)

If the idea is to not change after the iframe is created, then I'm not sure which is

[2017-03-29 16:14] alvestrand commented on #63
The thing that made me worry about changing the attribute after creation is that when an iframe is instantiated, and starts producing sound, changing the attribute (if allowed) would switch the sound while it was playing, with the change being invisible to code running inside the iframe. This may be tricky to implement, so I'd like to avoid doing it. (if @guidou claims it's easy, and no other brow

[2017-04-06 16:25] alvestrand commented on #63
@guidou I think this is clarified enough that you can propose a spec update.

[2017-04-14 15:15] randallb commented on #63
I think changing it on create is fine, fwiw. In a worst case where we'd need to change the audio output of an iframe, we'd just destroy and recreate, updating the internal state of the YouTube player or what have you.

[2017-05-10 13:02] stefhak commented on #63
@guidou you're assigned to this Issue, will you have time to look into it (soon)?

[2017-05-10 13:56] guidou commented on #63
@stefhak I don't think I will have time to look into this issue soon.

[2017-05-31 06:56] stefhak commented on #63
Getting desperate, is this something you could take a look at @yellowdoge?

[2017-05-31 17:24] yellowdoge commented on #63
@stefhak sadly (or happily, I'd say) I'm swamped with shipping Image Capture and Shape Detection;

@hoch, would you have some time to look at this by any chance?

[2017-07-28 20:49] randallb commented on #63
Is there anything I can do to help progress this spec?

[2017-08-09 13:25] dontcallmedom commented on #61
@guidou any progress / remaining interest on this?

[2017-08-09 13:36] guidou commented on #61
I still have this in my queue, but there's always something of higher priority.
If someone else can do it sooner, I'll be happy to review.

[2017-08-24 09:35] dontcallmedom commented on #63
@randallb fwiw, given that we can't seem to find enough resources to spec that additional behavior just now, we will likely proceed with the next steps in the standardization process with the spec as is. That said, this is not to say that this feature won't be considered for inclusion later - just a recognition that the spec as it exists today matches what implementations are shipping or consideri

[2017-08-24 09:43] dontcallmedom commented on #61
Some input on the explainer:
https://github.com/w3ctag/design-reviews/issues/91#issuecomment-165236185

https://github.com/w3ctag/design-reviews/issues/91#issuecomment-165422127

[2017-08-25 17:05] guidou commented on #61
closed by #67

[2017-08-25 17:05] #61 closed

[2018-04-11 03:26] TheBrenny commented on #63
Bump - Would love to see this implemented! 😁

[2018-07-01 16:15] aboba opened #71 "Enumeration of output devices and permission model"
I have recently gotten an inquiry from a developer attempting to utilize the [Audio Devices API](https://www.w3.org/TR/audio-output/) to select  an output audio device in a situation where there are no input devices (e.g. no microphone or camera).

To enumerate the output devices, they are calling `MediaDevices.enumerateDevices` to obtain `MediaDeviceInfo` relating to the devices and then once the

[2018-07-02 08:30] guidou commented on #71
This is certainly an issue in Chrome, but it's not clear to me that it's a spec bug.
In Chrome, the only way to get the permission is to call getUserMedia(), but nothing in the spec prevents setSinkId() from also being able to get the permission to use use devices.
Do you think we should change the spec to mandate that setSinkId() request permission?
Perhaps add a new function somewhere specifical

[2018-07-02 17:52] juberti commented on #71
This was discussed previously in #2; the consensus there was that we should have some way of obtaining device permissions separate from gUM, although it did not get into details. Not sure if we have a mechanism that could be easily used for this.

[2018-07-12 14:46] alvestrand commented on #71
So the real question is "what API operation should be invoked in order to look at device names".
@jan-ivar has opinions; Mozilla is still arguing strongly against permissions.requestPermission().

[2018-07-12 14:49] alvestrand commented on #71
One possibility (per @jan-ivar ) is to always allow output device labels.

[2018-07-12 14:59] guidou commented on #71
If device labels are always allowed, what would be the point of having per-origin random device IDs?

[2018-07-13 13:41] achronop opened #72 "Touching sinkId from background thread"
In step 3.5 in Method paragraph of section 2 sinkId appears to be updated from a background thread. Since it is a JavaScript entity I would expect to queue a task in order to update it.

[2018-07-24 13:51] jan-ivar opened #74 "s/SecurityError/NotAllowedError/"
When we switched from `SecurityError` to `NotAllowedError` [two years ago](https://github.com/w3c/mediacapture-main/pull/331), we forgot this spec.

We should fix that for consistency with `getUserMedia`.

Also, we should tidy up the terminology by s/authorization/permission/ at the same time.

[2018-09-06 08:13] guidou commented on #74
Fixed  by #75

[2018-09-06 08:13] #74 closed

[2018-09-06 08:14] guidou commented on #72
Fixed by #73

[2018-09-06 08:14] #72 closed

[2018-09-10 07:05] stefhak opened #76 "Point to public-webrtc"
Intro currently says comments should be brought to the (to be discontinued) public-media-capture list.

[2018-09-14 16:25] smaug---- opened #77 "It is unclear why https://w3c.github.io/mediacapture-output/#dom-htmlmediaelement-setsinkid 5.5 needs to queue a task"
https://w3c.github.io/mediacapture-output/#dom-htmlmediaelement-setsinkid
5.5 queues a task to set [[SinkId]] . [[SinkId]]  is just a slot with initial value null.
5.3. has already changed element's underlying output device.

So, there is time between 5.3 and 5.5 when element's [[SinkId]] doesn't tell what the output device actually is.

[2018-09-28 17:49] jan-ivar opened #78 "Should setSinkId be functional in SecureContext only?"
Following on https://github.com/w3c/webrtc-pc/issues/1945, would it make sense to make *setSinkId* `[SecureContext]`? I.e.
[code]
We're looking for guidance on implementing it in Firefox.

Currently, in Chrome this method exists in http, but is pretty much [useless](http://jsfiddle.net/jib1/Lumb0w6e/) (`SecurityError`).

As to the read-only `sinkId` attribute, we could leave it (`""`) or make it S

[2018-09-28 19:32] jan-ivar opened #79 "setSinkId is inconsistent in handling of default value."
[sinkId](https://w3c.github.io/mediacapture-output/#dom-htmlmediaelement-sinkid) defaults to `""`(*"...the empty string if output is delivered through the user-agent default device"*)

But [[[SinkId]]](https://w3c.github.io/mediacapture-output/#htmlmediaelement-extensions) defaults to `null` (*"Let the element have a [[SinkId]] internal slot, initialized to null."*)

This messes up [setSinkId](htt

[2018-10-01 10:05] guidou commented on #79
Fixed by #80

[2018-10-01 10:05] #79 closed

[2018-10-01 10:06] guidou commented on #78
Making both [SecureContext] sgtm

[2018-10-01 10:07] guidou commented on #71
Closing this issue since it refers more to an implementation bug than a spec bug.

[2018-10-01 10:07] #71 closed

[2018-10-01 10:08] guidou commented on #71
Please reopen if you think this requires more discussion.

[2018-10-01 10:17] guidou commented on #77
That is correct, and it is written that way for practical reasons.
"Switching the underlying audio output device" is typically a task that cannot be performed synchronously (i.e., typically you have to go to another thread or process to switch the device, and then get an asynchronous notification about the change being completed, which must run on another task.

[2018-10-01 10:19] #77 closed

[2018-10-01 10:19] guidou commented on #77
Please reopen if you think this requires more discussion.

[2018-10-05 21:33] aboba commented on #76
Fixed.

[2018-10-05 21:33] #76 closed

[2018-10-30 11:49] cynthia commented on #78
@alvestrand @dontcallmedom was this by any chance touched on during TPAC? If so, would love to see what the outcome of this was!

[2018-10-30 14:44] jan-ivar commented on #78
@cynthia Yes, from [minutes](https://www.w3.org/2018/10/22-webrtc-minutes#item02) and recollection, both `setSinkId` and `sinkId` to be SecureContext only.

[2018-10-31 18:42] jan-ivar commented on #78
Has PR.

[2018-11-28 10:16] cynthia commented on #78
Since the PR has landed, would it make sense to close this?

[2018-11-28 10:19] #78 closed

[2019-06-24 19:19] svgeesus opened #82 "Normative reference to HTML 5.2 should be changed to HTML LS"
The [normative references](https://w3c.github.io/mediacapture-output/#normative-references) lists HTML 5.x.

Since [W3C and WHAT WG signed the MOU](https://www.w3.org/2019/04/WHATWG-W3C-MOU.html), the HTML 5.2 reference should be changed to HTML LS in the bikeshed source.

[2019-08-29 14:59] youennf opened #83 "Selecting audio output in case device info permission is not granted"
Currently, selecting audio output is difficult to implement if camera/microphone access is not granted. This is a limitation that we should try to overcome.
This might be solvable by investigate ways to discover output device IDs outside of enumerateDevices.

[2019-09-09 16:51] achronop commented on #83
Currently obtaining deviceID is possible outside gUM, with enumerateDevices. However, the devices are not specified since the label attribute is missing, given that enumerateDevices provides deviceID but without gUM the device label is empty.

In my understanding, by reading #2 and #71, there is still a question of how to obtain the label to provide the user with a meaningful list of device names,

[2019-09-13 10:53] guidou commented on #83
The need for gUM in playback-only scenarios in Chrome is a bug due to the lack of a speaker permission (which exists in the permission spec, but is not implemented in Chrome). See crbug.com/865799.
setSinkId could ask for a specific audio output permission (for nondefault devices).

[2019-09-13 11:03] youennf commented on #83
Adding a prompt might be be difficult to implement, in particular the message to convey to users.
If we keep the idea of relying on IDs and setSinkId, there are a few possibilities that are worth to explore:
- Some devices are already known to the web page. Exposing these devices is then probably fine. A phone usually has an ear-piece speaker and a loud speaker. They could be exposed as is and/or

[2019-09-17 09:53] achronop commented on #83
Regarding the already known devices and the specific behavior devices, having specific values as device IDs could be a useful approach. However, a form of authorization is still required in case that the selected device is not the system default one. Otherwise, access is still allowed to devices without user permission.

On a minor note, implementing behavior-specific device IDs could be tricky am

[2019-09-18 14:51] kmduk commented on #83
Something related to this is which volume setting on a phone is applied to the audio element output.
For example, I have seen that with Chrome on Android an audio element volume is normally controlled by the 'media' volume setting. However, once gUM has been called (and accepted) the 'call' volume setting is used.
Could specific predefined deviceId values effectively determine the purpose of the a

[2019-10-06 05:34] nefelin commented on #63
Bumping would also find this very useful!

[2019-10-06 09:45] foolip commented on #63
@clelland has this been proposed as a feature policy?

[2019-10-07 15:27] clelland commented on #63
There was a 'speaker' policy [proposed](https://github.com/w3c/mediacapture-main/issues/434), to complement `'microphone'` and `'camera'` from the media input side. The actual behaviour was never really decided on, and the presence of the policy was confusing (people thought that it should control *all* audio output, which it definitely didn't do) so it was removed recently from Chrome. It's still

[2019-10-07 16:19] foolip commented on #63
I see. I think something that applies to all audio output is actually the policy that would be useful. But that hasn't been pursued, then?

[2019-10-23 16:33] youennf opened #84 "Ask for user gesture to call setSinkId"
Playing audio is nowadays gated by a user gesture.
Changing the output of the audio could be restricted similarly.

[2019-10-23 16:42] youennf opened #85 "Go back to the default output"
As long as the sinkId is not set, the sink is selected by the user agent.
There does not seem to be any way for a web page to go back to this original state.
Should we allow setSinkId('')?

[2019-10-28 10:35] guidou commented on #85
Yes, we should. IIRC, setSinkId('') in Chromium switches to the default device.

[2019-11-14 15:47] alvestrand commented on #83
I can't quite figure out what the stuff is trying to accomplish here, or how.
The most common case for switching output device is to put audio on an USB / Bluetooth headset.
Is it the intention that "play on headset" needs a permission prompt every time?
Is that reasonable for the user?

[2019-11-14 17:44] aboba commented on #83
There are applications which do not need access to the camera/microphone but which do need to select the output device. An example is an online course or a company meeting application.  If the participant is not asking a question there is no need for access to the camera/microphone (and requesting that access could appear creepy).  Yet, there may be a need to select the output device (e.g. play vi

[2019-11-14 18:15] guidou commented on #83
It should be made clear that prompting should not be required when switching to the system default device, which is always authorized.

[2019-11-14 20:53] youennf commented on #83
Agreed with @aboba.
setSinkId is bigger than WebRTC also.
And some WebRTC websites allow users to deny camera/microphone, but still enter the room and potentially later grant mic if needed. In all cases, it would be nice for user to select the audio output.

Another case is that you initially deny camera access, and later grants

The headset might actually be the default output, or the default out

[2019-11-28 14:34] youennf opened #87 "Setting the output for a whole context"
Currently, we are only able to control individual HTMLMediaElement audio output with setSinkId.
We probably need to add something to WebAudio as well.

In most cases, it seems that pages will want to output all their audio to a single device.
Adding such an API to do so would be convenient and would complement setSinkId which would be used to override this default value.

Something at navigator.me

[2019-11-28 14:34] youennf commented on #87
This somehow relates to https://github.com/w3c/mediacapture-output/issues/63.
With this new API, an iframe could be able to update the page audio output if it were allowed to do so by feature policy.

[2019-12-01 09:29] fippo commented on #87
Actually no. You might want to have the "ring" sound to go to the speaker (so you hear it if you are not at your desk) while during the call you want to have sound going to your headset. Arguably you might want in-call notification sounds to go to your headset too then.

[2019-12-02 16:19] youennf commented on #87
If the user is not interacting/interested in the web application, the application is probably not in a position to select the proper means to request user interest. For instance, you might want the device to vibrate instead of playing a ring tone if the device is in vibration mode, but you probably do not want to let the application know you are in vibration mode.
This API does not seem to be a go

[2020-03-06 17:01] achronop opened #88 "Behavior when device changes"
I would like some clarifications regarding the described behavior when the device is unplugged and replugged. When a device is no longer available the spec states:

"if the media element's paused attribute is false when the device identified by the sinkId is no longer available, then playback will continue as normal. In this case, audio will not be rendered because the device to which the media el

[2020-03-06 17:07] jan-ivar commented on #88
@alvestrand @guidou @henbos it looks like Chrome is not following the spec here. Can you speak to whether this is intentional, or whether you intend to align with the spec?

[2020-03-11 14:41] achronop commented on #88
Any update on this?

[2020-03-11 16:03] henbos commented on #88
@guidou can you comment?

[2020-03-12 22:35] jan-ivar commented on #88
From meeting: @alvestrand mentioned that if you're e.g. in a library with headphones and 1000W external speakers, it might not be a great idea to switch to default output behind the app's back.

[2020-03-12 22:38] jan-ivar commented on #88
I found https://bugs.chromium.org/p/chromium/issues/detail?id=506273

[2020-03-12 22:40] jan-ivar commented on #88
I found https://bugs.chromium.org/p/chromium/issues/detail?id=697877

[2020-03-13 11:28] achronop commented on #88
Thank you @jan-ivar . @guidou given the [issue](https://bugs.chromium.org/p/chromium/issues/detail?id=697877) I assume that chrome's current behavior is not intended and you would like to align with the spec. Would you like to give me the way you perceive the description in the spec?

[2020-03-31 13:24] svgeesus opened #89 "Option to remove consent for default audio device?"
In the [consent](https://www.w3.org/TR/audio-output/#privacy-consent) section:

That seems problematic unless there is a "null" output device. I often want all web pages to be unable to make sounds (I typically do that at the hardware level by inserting a blank jack into the headphone output, but that is suboptimal).

It looks like there should be an option for the user to **remove** consent from

[2020-03-31 16:16] youennf commented on #89
'The default audio output device is always authorised' is no longer in the latest draft I believe: https://w3c.github.io/mediacapture-output/. Instead the current wording is 'The specification adds no permission requirement to the default audio output device.'.

As of removing consent for the default audio output device, this is outside of the scope of the spec. This seems like something that shou

[2020-05-14 03:53] bigicoin commented on #63
Is this still being worked on? Would be cool to use for a hobby project I have.

[2020-05-19 22:51] jan-ivar opened #91 "Where did "speaker" feature policy go?"
I wrote https://github.com/w3c/mediacapture-output/pull/90 before realizing `"speaker"` was  removed in https://github.com/w3c/webappsec-feature-policy/pull/360 and in Chrome. @alvestrand what happened to it?

Concerns:
 1. Without it, people may permission-escalate with `allow="microphone"` or `allow="camera"` in order to use this feature. While it's true you need those permissions today to use t

[2020-05-20 07:00] youennf commented on #91
It would be good to decide whether this permission is for "speaker use" or "speaker selection".
I guess "speaker use" is interesting so that top level frames could mute iframes.
If you have permission to use speaker, it makes sense to allow selecting speaker for each media element of the iframe. But I am not sure it means it would grant permission to set speaker selection for the whole page (https

[2020-05-20 07:32] guidou commented on #91
Chrome has never implemented a speaker permission, understood to mean an explicit permission specifically for nondefault speakers. Chrome allows setSinkId to succeed if the microphone permission has previously been granted and fails otherwise.

We have considered adding a speaker-only permission for setSinkId (to better support the non-communications cases that don't require a mic), but there has

[2020-05-20 07:33] guidou commented on #91
If we add text to the spec explaining how a speaker feature policy should work, it can be brought back in Chromium, of course.

[2020-05-20 14:38] bradisbell commented on #91
@guidou It's far more confusing now where users have to allow microphones when they're just choosing what soundcard to play music on.  I have to do a `getUserMedia()` request, hope they actually have an audio input device so they can accept, then immediately stop the the tracks on the captured stream.  Only then can I enumerate output devices.  Even once that's done, the URL bar shows a little cam

[2020-05-20 14:41] youennf commented on #83
Another option:
- Update setSinkId to not reject but prompt if deviceId is not in the enumerateDevices list.

[2020-05-20 14:47] jan-ivar commented on #87
Web audio seems easy enough to work around. Instead of:
[code]
you'd do
[code]
Not sure about audio worklet though.

The workaround is to collect all elements and set them:
[code]

[2020-05-20 14:52] jan-ivar commented on #91
The latter. Accessing a user's _non-default_ speakers is a "powerful feature", and would be OFF in iframes by default.

A "speaker use" permission defaulting to OFF in iframes wouldn't be web compatible, so that's a different thing. Most people have some default audio output, and there's "Block Autoplay" for that.

To the page being iframed, I don't see much difference, since that seems easy to wo

[2020-05-20 15:45] youennf commented on #91
Right, this makes sense in the context of the audio output spec, but in general, the name is misleading to me.

Allowing or not camera/microphone access is probably something much more easy to decide than allowing or not access to non-default speakers.
As a web developer, what are the guidelines to allow/disallow 'speaker' selection? What am I trying to protect the user from?

Sure, I was meaning

[2020-05-20 15:49] youennf commented on #87
This is not working for third-party iframes.
For WebAudio, this seems a rather convoluted solution.
At least in Safari, this is most probably less efficient and would probably add some latency.

[2020-05-20 20:50] jan-ivar commented on #87
@youennf I'm confused. It should work fine for the JS inside the iframe. Or do you want https://github.com/w3c/mediacapture-output/issues/63?

If so, sound we close one of the issues as a dup?

[2020-05-28 16:23] jan-ivar commented on #91
@youennf  This is covered under [§ 3.1 Consent](https://w3c.github.io/mediacapture-output/#privacy-consent).

I think that's a separate issue, https://github.com/w3c/mediacapture-output/issues/63 maybe.

[2020-05-28 16:32] jan-ivar commented on #91
@guidou I think the web compat question here is did Chrome ever used to require
[code]
...in order for the site to change audio output during a WebRTC call? Or did this always suffice:
[code]
?

If we go back to requiring the former, what sites might break?

[2020-05-28 17:49] youennf commented on #91
I am not sure feature policy is really about user consent.

User agent may always control this API by advertising or not deviceIds, this is what happens with currently needing to call getUserMedia before using this API.
AFAIK, other APIs like presentation API or webkitShowPlaybackTargetPicker do not have a dedicated feature policy (maybe they should). webkitShowPlaybackTargetPicker gets consent fr

[2020-05-28 19:02] guidou commented on #91
No, it never required this.

This always sufficed.

Not clear to me how to answer this, but I guess some sites might break if we start requiring the former.

[2020-05-28 19:04] jan-ivar commented on #91
It's [Permissions Policy](https://w3c.github.io/webappsec-feature-policy/) now, and seems explicitly about user consent. Specifically: it solves the question of to whom consent is to be granted.

Most browsers have adopted a top-level domain trust model by now, putting the onus on sites to delegate trust to iframes. If we don't require explicit delegation of said trust, that doesn't work.

I'd say

[2020-05-28 19:29] jan-ivar commented on #91
@guidou Yeah we're looking at breakage then if we introduce a `"speaker"` policy.

We can play web compat games like `"microphone"` > `"speaker"`, but I'd hoped we wouldn't be here already. Doing so means we lose the ability to share microphone and _not_ speaker.

Presumably someone thought having some granularity of control here made sense, hence why we have `camera` and `microphone` and not e.g.

[2020-05-28 20:28] youennf commented on #91
The html video element that the user is seeing on the screen.

A "speaker-selection" policy makes sense to me when we get to a more flexible API: page wide setting, prompt user to select device, explicit values.
"microphone" inducing "speaker-selection" is not great in theory but would limit the compat risks.
In practice, the most interesting case where you want one but not the other is an iframe

[2020-06-05 12:21] youennf opened #92 "Rename HTMLMediaElement.setSinkId to a more readable name"
We are envisioning adding MediaDevices.selectAudioOutput/selectAudioOutputDevice and MediaDevices.setAudioOutput/setAudioOutputDevice.
We could consider updating HTMLMediaElement.setSinkId to HTMLMediaElement.setAudioOutput/setAudioOutputDevice

[2020-06-05 12:25] youennf opened #93 "Should the spec define specific static audio output device IDs"
It might be useful to define specific values for audio output device IDs.
Such values could be:
- 'default' or '', https://github.com/w3c/mediacapture-output/issues/85
- 'earpiece' (and potentially 'speaker'), most useful for phones that have both a loudspeaker and an earpiece
- 'none': mute a whole page

[2020-06-11 15:12] jan-ivar opened #94 "setSinkId("") vs setSinkId(defaultDeviceId)"
This [spec](https://w3c.github.io/mediacapture-output/#dom-htmlmediaelement-sinkid) defines `""` to mean the _"user-agent default device"_, e.g. status quo without this spec.

At least on macOS this OS default is dynamic and may change live. As such, these differ:
[code]
[code]
With the second one, the element stops responding to user changes in the OS.

The problem is the [spec](https://w3c.githu

[2020-06-15 17:17] #94 closed

[2020-07-05 07:41] guest271314 commented on #91
@bradisbell While the topic is actually being discussed, your feedback will be helpful at https://github.com/w3c/mediacapture-main/issues/703. Have filed too many issues and bugs to list here re this subject matter, in pertinent part see https://github.com/w3c/mediacapture-main/issues/650. Perhaps additional feedback, or as put, demand, will overcome the evaluation

[2020-07-09 14:36] alvestrand opened #97 "Add preview generation to PRs"
Would be nice to see previews. Nobody knows how to do it. Asking @dontcallmedom for help.

[2020-07-09 17:42] bradisbell commented on #93
As a web developer, it would be much better to see these as attributes of devices.  It's a frustrating user experience today for media capture to show a user a list of microphones, three of which are potentially the same thing.  It's unfortunate to have to carry that problem forward into new APIs.

[2020-07-13 13:19] jan-ivar commented on #91
From editors' meeting two weeks ago: landed on `"speaker-selection"`

[2020-07-16 01:34] guest271314 commented on #91
"demand" for "it" (where it is capturing audio output to speakers, headphones, "What-U-Hear", and "demand" is are feature requests)

- https://github.com/w3c/mediacapture-main/issues/629
- https://github.com/w3c/mediacapture-main/issues/650
- https://github.com/w3c/mediacapture-main/issues/654
- https://github.com/w3c/mediacapture-screen-share/issues/140

Chromium issues

- https://bugs.chromium.o

[2020-07-23 14:47] #91 closed

[2020-07-23 14:48] #97 closed

[2020-07-26 19:07] guest271314 commented on #93
Cannot the values from `pacmd` or `pactl` be used? Missing from the list is 'speech-dispatcher'.

[2020-08-03 08:54] youennf opened #99 "Web pages might want to easily set a speaker setup previously used"
A web site might allow a user to select speakers on first visit.
On a second visit, it would be convenient for the user to be able to easily select the exact same speaker configuration.
We could envision the user agent to do this or let the web page handle it.

[2020-08-03 08:59] youennf commented on #99
Here are a few scenarios/ideas to start the discussion.

The first scenario is that the speaker to be used is the one related to the microphone disclosed by getUserMedia.
In that case, the specs seem fine as is: on every visit, the web page will start with getUserMedia and will then select the speaker exposed after getUserMedia.

The second scenario is the more general case where microphone is not

[2020-08-03 23:45] NoahRoseLedesma opened #100 "Behavior when audio device is changed by user-agent"
Chrome is introducing a feature that would allow users to reroute the audio output of a page to other devices from a UI in the toolbar. Presumably when audio is rerouted to a non-default device the HTMLMediaElement sinkId attribute should be updated. However the current specification does not provide a means of informing applications of this change. I would like to discuss how we might accommodate

[2020-08-06 16:28] alvestrand commented on #100
Would the point of such a toolbar mechanism be to redirect all audio for the tab, all the audio that isn't sent to an explicit source, or some other effect? (realizing that sending audio from different media elements in a single tab to different destinations seems to be intended to be supported by spec, it's not likely to be common, but might happen).

[2020-08-06 16:53] NoahRoseLedesma commented on #100
The toolbar mechanism would redirect all audio for the tab. If audio from different media elements in a single tab is being sent to different destinations, this toolbar mechanism would redirect all audio to one destination.

[2020-08-11 14:30] guest271314 opened #101 "Is selectAudioOutput intended to capture audio output or route microphone capture to an output device?"
Is `selectAudioOutput` intended to capture audio output or route microphone capture to an output device?

[2020-08-11 14:34] guest271314 commented on #100
Can you kindly link to the documentation?

At Linux would suggest using `pavucontrol`, as `enumerateDevices()` is not dynamic.

[2020-08-11 14:48] guidou commented on #101
No. It's intended to get the deviceID of an audio output device so that it can be used with setSinkId() without having to use enumerateDevices() or getUserMedia().

[2020-08-11 14:48] #101 closed

[2020-08-11 16:38] NoahRoseLedesma commented on #100
There currently is not any public documentation on this feature.

I am having difficulty understanding how this comment relates to the issue. Could you expand upon this?

[2020-08-12 00:57] guest271314 commented on #100
Due to Chromium not supporting capture of monitor devices it is necessary to utilize workarounds to capture devices other than a microphone input device. When that occurs, since Chromium source code specifically fails to start audio when monitor device is set as default or list the devices at all, monitor devices are not listed by `enumerateDevices()` when `pavucontrol` dynamically changes the inp

[2020-08-12 01:05] guest271314 commented on #100
@NoahRoseLedesma Asked for link to primary source documentation for the claim

which would necessarily not include monitor devices per https://bugs.chromium.org/p/chromium/issues/detail?id=1114422#c9, or other projects at Chromium, Chrome are operating outside of the scope definitively stated.

[2020-08-13 12:04] josephrocca opened #102 "Directing Web Speech API audio to a specific output device?"
Hello! Have there been any discussions around giving developers the ability to direct speech generated via the Web Speech API `SpeechSynthesis` interface to a specific audio output? I've not been able to find any, and it seems like a fairly important feature.

[2020-08-13 13:36] jan-ivar opened #103 "Do we prompt if there's only one audio output device to select?"
Today [selectAudioOutput](https://w3c.github.io/mediacapture-output/#dom-mediadevices-selectaudiooutput) says: _"If there is no audio output device, reject p with a new DOMException whose name attribute has the value NotFoundError."_

Since sites already have access to the [_"user-agent default device"_](https://w3c.github.io/mediacapture-output/#dom-htmlmediaelement-sinkid) a.k.a. `""` (modulo bl

[2020-08-13 14:27] guidou commented on #103
I think the current wording is OK. If the only supported device is the default device, resolving with "" looks correct to me.

Note also that the default device ("") and the ID for a specific device are different things in practice.
In most OSes, if the default device changes (e.g., via settings), audio will be redirected to the new default device if "" is the chosen device.
If the specific device

[2020-08-13 15:32] guidou commented on #100
@NoahRoseLedesma what's the use case for the event?

[2020-08-14 15:29] NoahRoseLedesma commented on #100
@guidou To notify web applications when audio is being played from a different device. For example, this would be needed to keep applications that display the current device in sync after a device change occurred via the new Chrome UI.

[2020-08-20 14:21] #99 closed

[2020-08-20 19:25] jan-ivar commented on #102
I've [critiziced](https://github.com/mozilla/standards-positions/issues/170#issuecomment-509873541) the current Web Speech API for being too tightly coupled to microphone and default speaker output.

I suggest that WG work to plug into existing audio sources and sinks in the platform through `MediaStreamTrack` (there's precedence in [web audio](https://developer.mozilla.org/en-US/docs/Web/API/Audi

[2020-08-25 10:51] dontcallmedom opened #107 "Revamp integration with user activation"
The spec references the term "triggered by user activation" formerly defined in HTML, but that [has been replaced](https://github.com/whatwg/html/issues/5129) by a different approach, with [guidance given to spec authors](https://docs.google.com/document/d/14wT89JZ0qeRehXGkcn3_meXxjvlHKgM9d7aJj80kQcQ/edit).

We should update the spec accordingly

[2020-09-12 16:59] guest271314 opened #111 "Rename selectAudioOutput: This specification does not define capture of headphones or speakers"
The terms "audio output device" is not defined whatsoever at this specification.

The term [`"audiooutput"`](https://w3c.github.io/mediacapture-main/#idl-def-MediaDeviceKind.audiooutput) defined Media Capture and Streams specification (aka getUserMedia) https://w3c.github.io/mediacapture-main/ is defined as

is not used in or _re_-defined in this specification.

Neither Media Capture and Streams n

[2020-09-12 17:36] guest271314 commented on #102
@jan-ivar

Neither this specification nor Media Capture and Streams define capture of devices other than microphone input.

The suggested code is currently impossible at Chromium. Chromium refuses to support listing of or capture of monitor devices at Linux https://bugs.chromium.org/p/chromium/issues/detail?id=931749. Have filed multiple specification and implementation issues to support what this

[2020-09-12 17:51] guest271314 commented on #102
Web Speech API does not define any speech synthesis algorithms and neither Chromium nor Firefox are shipped with a speech synthesis engine.

Web Speech API establishes a socket connection to Speech Dispatcher `speechd` https://github.com/brailcom/speechd.

Web Speech API does not currently specify any means to capture audio output from `speechSynthesis.speak()`.

Since Web Speech API simply sommun

[2020-09-13 04:17] guest271314 commented on #102
@josephrocca There is not a simple way to get the direct output from a speech synthesis engine other than calling the engine directly and processing raw audio output. Technically, a socket connection can be established to `speech-dispatcher`

No specification, including Media Capture and Streams, Audio Output Devices API, Web Audio API, or Web SPeech API (see  [MediaStream, ArrayBuffer, Blob audio

[2020-09-13 04:42] guest271314 commented on #102
At Linux this is the sink input device that should be capturedto get a `MediaStreamTrack` of speech synthesis output at Linux. Note, it might be necessary to call `speechSynthesis.getVoices()` first to spawn a persistent conmmunication with `speech-dispatcher-espeak-ng` for the device to be listed by

`$ pactl list sink-inputs

..

Sink Input #190
	Driver: protocol-native.c
	Owner Module: 14
	Clie

[2020-09-18 14:03] youennf opened #112 "Rename setSinkId to setAudioOutput"
Since we now have selectAudioOutput, we should think about renaming setSinkId to a less generic name

[2020-09-18 14:18] youennf opened #113 "default audio output should be first in the enumerateDevice returned list"
Following microphones and cameras, we should try exposing the default audio output device using its first position.
This also probably means it should always be exposed since '' allows to be used by setSinkId.

In case of change of default audio output device, we might also want to fire a devicechange event if more than one audio output device has been exposed.

[2020-09-18 14:38] guidou commented on #113
I agree with this. Also, this all matches Chromium's behavior.

[2020-09-27 19:17] guest271314 commented on #113
`enumerateDevices()` currently returns inconsistent results re selecting and listing default devices https://github.com/w3c/mediacapture-main/issues/727. Would suggest to fix fix that inconsistency. Also, there really is no "default audio output device" https://github.com/w3c/mediacapture-output/issues/111  in either this or Media Capture an Streams main, at best there is a _re-routing_ of audio i

[2020-09-30 15:51] #102 closed

[2020-11-23 04:26] carlsmith commented on #93
DJ software needs to send different audio to the speakers and the headphones, and needs to know which is which.

[2020-11-27 08:19] dontcallmedom commented on #83
I believe #86 closed this

[2020-11-27 08:19] #83 closed

[2020-11-27 08:20] dontcallmedom commented on #82
This was done

[2020-11-27 08:20] #82 closed

[2020-11-27 08:27] dontcallmedom commented on #88
Closing since this is an implementation issue, not a spec issue (until proved otherwise)

[2020-11-27 08:27] #88 closed

[2020-11-30 17:49] brianfields commented on #63
This would be particularly useful for collaborative A/V applications where you'd like the user to be able to select their preferred audio output device. My use case is a classroom instruction application (using WebRTC for streaming video) where the teacher would like to play a YouTube video that is seen and heard by everyone in class. We have application level control over the WebRTC audio output

[2020-12-07 10:22] MatanYemini commented on #63
The same problem that I am getting into. Any ideas? That can be cool project :)

[2020-12-07 17:12] guidou commented on #111
This spec is not about capture of output devices. Closing this bug.

[2020-12-07 17:12] #111 closed

[2020-12-07 17:15] guidou opened #124 "default audio output should be first in the enumerateDevice returned list"
The spec already mandates that the default microphone and the default camera (if they exist) should be the first devices listed in enumerateDevices. This should also apply to speakers.

This bug is basically the same as https://github.com/w3c/mediacapture-output/issues/113, but I filed it here because enumerateDevices is defined in this spec.

[2020-12-07 17:16] guidou commented on #113
Since enumerateDevices is defined in mediacapture-main, I filed a https://github.com/w3c/mediacapture-main/issues/756 to track it there and closing this one.

[2020-12-07 17:16] #113 closed

[2020-12-07 17:19] guidou commented on #112
I don't disagree, but since this is an API that has already been in used for a few years, I think it's too late to make this change.
WDYT?
What about renaming selectAudioOutput to selectAudioSink to have little more consistency with setSinkId?

[2020-12-07 17:34] guidou commented on #103
I think the current language in the spec is OK, which rejects if there's zero devices.
If there is only one device and the given ID is a valid one different from "", the spec already allows resolving without prompting.
I think it's OK to require prompt if there is only one device and the given ID is "" since having access to such a device ID should require authorization.
Since the issue addressed

[2020-12-07 17:34] #103 closed

[2020-12-07 17:39] guidou commented on #100
@NoahRoseLedesma sorry for the late reply. I would interpret this feature as a change of the default device but localized to a particular tab. In this case, it would make sense to change the sinkId field only for elements that have an explicit device ID previously set with setSinkId.

[2020-12-07 17:43] guidou commented on #89
I agree with @youennf in that removing permission to play sound is outside the scope of the spec. There are already implementations of this. For example, Chrome allows muting a tab completely via UI and I do not see any need to change this spec to allow that.
Closing, but feel free to reopen if you think there is no consensus on this issue.

[2020-12-07 17:43] #89 closed

[2021-01-04 21:46] pes10k opened #116 "PING review"
Hello! I've completed the PING HR review of the spec.  I found out a few issues I wanted to discuss and see if I'm reading it wrong, or if there are areas for possible improvement. If any of these issues are not already dealt with else where, or the result of my misunderstanding, please let me know and i'll create separate issues.

1. There is a at the end of section 3 (starting with "Applications

[2021-01-05 08:11] youennf commented on #116
Thanks for the review @pes10k.
The model is as follow:
a. If enumerateDevices is exposing audiooutput devices, deviceId can be used by setSinkId.
b. If the application knows of a deviceId used in the past but enumerateDevices is not exposing it, the application is expected to call selectAudioOutput with the corresponding deviceId.
One potential implementation for b. is:
- If the deviceId is presen

[2021-01-05 14:56] alvestrand commented on #116
note - calling getUserMedia returns only tracks connected to input devices.
The reference to the getUserMedia permission prompt in 4.2 only refers to the idea that after presenting the getUserMedia permission prompt, the list of deviceIds returned by enumerateDevices() can change.

[2021-01-06 01:16] pes10k commented on #116
Thanks @alvestrand and @youennf !

Thank you for the clarification. I didn't quite have the correct understanding on my first read then.  I have a broader question about the motivation behind the current approach, but want to make sure I 100% understand it first.  Can you let me know what would should happen in each of the following cases?

1. I setSinkId with the deviceId of a valid audiooutput d

[2021-01-06 08:54] youennf commented on #116
1. If deviceId is not already exposed in enumerateDevices, setSinkId will reject, even if the deviceId is actually corresponding to a valid audiooutput device. You are correct that "if enumerateDevices() is giving information about audiooutput devices, then you can bypass selectAudioOutput() for those devices".  That said, enumerateDevices() will expose only a subset of all audiooutput devices, co

[2021-04-01 14:47] #107 closed

[2021-05-04 22:01] equalsJeffH opened #119 ""triggered by user interaction" link does not properly resolve"
the above link does not appear to currently resolve to anything in https://html.spec.whatwg.org/

[2021-05-19 20:24] toschlog commented on #63
It would be great to be able to do setSinkId on an iframe.  I can control where on my page iframe visuals appear; I should be able to control where the audio goes.

[2021-07-02 04:43] elibarzilay commented on #87
I got here while trying to get this to work now in chrome, and if something like a whole page default can simplify how changing a device is done now, it would be very nice.  I'm really just playing around, so take it with a sack of salt, but OTOH there's generally a lot of confusion on the interwebs.

The thing that tripped me is that if you `createMediaElementSource` an audio element (in my case

[2021-07-05 15:44] dontcallmedom commented on #119
cf [guidance on what to replace it with](https://github.com/whatwg/html/issues/5129#issuecomment-562210730)

[2021-07-05 15:47] dontcallmedom commented on #119
and https://docs.google.com/document/d/14wT89JZ0qeRehXGkcn3_meXxjvlHKgM9d7aJj80kQcQ/edit

[2021-07-22 15:33] Johnny-John-John commented on #63
Any updates on this? I would love to see this since I am working on something which needs audio from an Iframe element and do fft magic with it. Or does this feature cause privacy issues? What if some company, say Youtube, want their Iframes' audio to not be analyzed?

[2021-07-28 07:30] marcoscaceres opened #122 ""speaker-selection" doesn't seem to be implemented?"
Just wanted to confirm the status of the "speaker-selection" permission. Neither Chrome nor Firefox seems to implement it, however, it's in the Permission API.  Checked by:

[code]

I'm currently pruning unimplemented enum values from the Permissions API, so was hoping to get an update to decide if it should continue to live in that spec.

Pull request to remove it from the Permission spec: https:

[2021-08-02 22:51] marcoscaceres commented on #122
firefox now implements it:
https://phabricator.services.mozilla.com/D119866

[2021-08-02 22:51] #122 closed

[2021-08-04 07:54] karlt opened #123 "Reset `MediaDevices` [[storedDeviceList]] when a new audio output device is exposed by `selectAudioOutput()`"
This is necessary to update the results of `enumerateDevices()`, if [[storedDeviceList]] [is not](https://w3c.github.io/mediacapture-main/#dom-mediadevices-enumeratedevices) `null`.

But the appropriate solution here may depend on changes for https://github.com/w3c/mediacapture-main/issues/810#issuecomment-892437367

[2021-09-30 14:18] hoch opened #125 "Adding "subkind" in MediaDeviceInfo (for detection headphones)"
## Summary

Adds `.subkind` field `MediaDeviceInfo` to indicate the nature of the output device, specifically for **personal listening devices**. (e.g. headphones, headset, or earbuds)

### Potential use cases:
- An application can dynamically change the audio processing model according to the number of channels of the reproduction device. (e.g. 5.1 channels to 2 channels)
- An application can use

[2021-10-26 12:17] yoyo212121 opened #126 "Y"

[2021-10-26 12:27] #126 closed, assigned to nobody

[2021-10-29 10:02] Jamie0 opened #127 "Persisting deviceIds Across Sessions"
I develop web applications used by broadcasters. For many of our users, the ability to use multiple audio outputs simultaneously is crucial.

In the current version of the spec, `selectAudioOutput` doesn't appear to be designed to allow an application to persistently store the `deviceId` e.g. as a preference.

According to the spec, if I call `selectAudioOutput` and provide a deviceId that was pre

[2021-11-30 21:20] karlt commented on #123
I'm going to propose a different approach for `enumerateDevices()` and [[storedDeviceList]] so that there is no need to reset on exposure changes.
I expect no changes will be required to mediacapture-output.

[2021-11-30 21:20] #123 closed

[2022-01-25 19:09] jan-ivar opened #129 "Is reverting to different speakers from a background tab a valid use case?"
The [spec](https://w3c.github.io/mediacapture-output/#algorithms-sink-unavailable) says _"When the audio device ... is no longer available, the user agent must take no action"_.

@alvestrand wrote in https://github.com/w3c/mediacapture-main/issues/842#issuecomment-1006653409:

JS can't intervene if backgrounded, since enumeration may not work ([enumerateDevices](https://w3c.github.io/mediacapture-

[2022-01-26 10:35] alvestrand commented on #129
I think Jan-Ivar's comment points out that the platform will be unable to confidently switch output devices on its own, so it seems that if we switch at all, we need to punt the choice of how to switch to JS.

One solution would be to define that a change in an output device that is in active use acts like a substitute for focus in the permission-gating algorithm, so that the signal gets fired and

[2022-02-10 15:16] jan-ivar opened #130 "Update permissions algorithms to respect existing microphone permission exception"
Some of the prose moved from permissions spec in https://github.com/w3c/mediacapture-output/pull/128 isn't fully compatible with the microphone exception this spec mandates, so we should make sure to update it so the microphone exception is preserved.

[2022-03-03 13:53] freddy-daniel commented on #63
It would be nice if there was a final solution to this problem. or someone will ask it in 2023 😂

[2022-03-03 17:57] bigicoin commented on #63
I think everyone who had hoped to do this in a project probably gave up on their projects already because of this. 😛

[2022-05-22 04:44] randallb commented on #63
I'm closing as not planned for now.

[2022-05-23 10:11] dontcallmedom commented on #63
re-opening to make sure this gets formally addressed - sorry this is taking so long though

[2022-05-23 10:31] MatanYemini commented on #63
@dontcallmedom Hi - I don't mind contributing. Do you have suggestions/ideas (if you want me to jump on it) ?

[2022-08-30 11:59] abhijeetk commented on #92
Isn't it related to https://github.com/w3c/mediacapture-output/issues/112 ?

[2022-08-30 12:43] dontcallmedom commented on #92
indeed, closing this one as a dup since #112 has some discussion already

[2022-08-30 12:43] #92 closed

[2022-09-16 13:23] Ms2ger opened #132 "Spec uses settings object's responsible document which was removed"
See https://github.com/whatwg/html/issues/4335

[2022-09-16 21:14] dontcallmedom commented on #132
see also #131

[2022-09-29 22:49] jan-ivar commented on #85
Closed by https://github.com/w3c/mediacapture-output/pull/95.

[2022-09-29 22:49] #85 closed

[2022-09-29 22:59] jan-ivar commented on #124
I'm not sure it makes sense to keep this open, since we have no good way of writing automated WPT tests that require multiple devices. AFAIK there's no equivalent issue open for cams/mics being first, so I think we can close this.

[2022-09-29 22:59] #124 closed

[2022-10-07 05:16] karlt opened #133 "The first "audiooutput" `MediaDeviceInfo` returned from `enumerateDevices()` is not the default device when the default device is not exposed"
https://github.com/w3c/mediacapture-output/issues/113#issue-704418273 proposed output device ordering in enumerateDevices() results to identify the default audio output device.  It also said "This also probably means it should always be exposed since '' allows to be used by setSinkId."

While the first position for the default device was specified in https://github.com/w3c/mediacapture-main/pull/7

[2022-10-07 05:18] karlt commented on #133
This is causing [trouble on some web conferencing sites](https://bugzilla.mozilla.org/show_bug.cgi?id=1769985#c2) that appear to be assuming that the first device is the default device. When the default device is not exposed, they don't offer a way to switch to the default device nor (sometimes) to switch to the first exposed device.  The biggest problem is that sites present UI to (sometimes) all

[2022-10-07 05:21] karlt commented on #133
Proposal: Always include, in `enumerateDevices()` results, a (single) `MediaDeviceInfo` object for the default device if there are any audio output devices exposed.  If the physical audio output device that is currently the default device would not be exposed if it were not the default, then remove fingerprinting surface from the attributes of this `MediaDeviceInfo`.

[2022-10-07 05:36] karlt commented on #133
For a `MediaDeviceInfo` representing a default device that would not otherwise be exposed, perhaps the simplest solution in terms of consistency with the current spec might be to initialize only the `kind` attribute, [as for dummy "videoinput" and "audioinput" devices when their respective "information can be exposed" flags are false](https://w3c.github.io/mediacapture-main/#creating-a-device-info

[2022-10-07 09:48] dontcallmedom commented on #133
Should this be adopted, it would need support for localization in the `label` attribute, which would be new input to https://github.com/w3c/mediacapture-main/issues/665

[2022-10-17 21:11] jan-ivar commented on #133
This SGTM.